div.eventList {
    margin-top: 10px;
}

div.event-card {
    border-top: 2px #d9d9d9 solid;
    width: 640px ;
    display: flex;
    padding: 5px 0 15px 0;
}

div.card-image {
    height: 100px;
    width: 178px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 20px;
}

.event-image{
    height: 100px;
    width: 178px;
    border-radius: 10px;
}

div.eventList {
    margin-top: 10px;
}

div.card-title > h4 {
    margin-top: 0px;
}

div.card-title > h3 + h3  {
    margin-bottom: 5px;
    margin-top: 0px;
}

.listbody-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.listbody {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.card-time {
    color: #877457;
    text-transform: uppercase;
    font-size: 14px;
}

.card-title {
    font-size: 16px;
}

.card-details {
    font-size: 14px;
    color: #757575;
}
