/* div.group-event-card {
    box-sizing: border-box;
    position: relative;
    width: 70%;
    border-radius: 15px;
    background-color: white;
    padding: 20px 20px;
    margin: 20px 0;
    transition: top ease 1s;
}

div.group-event-card:hover{
    box-shadow: 0 0 5px 0px grey;
    top: -10px;
}

div.group-event-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.event-card-image {
    width: 180px;
    height: 101px;
}

.group-event-time {
    text-transform: uppercase;
    color: #0098ab;
    font-size: 15px;
    font-weight: bolder;
}

.group-event-name {
    font-size: larger;
}

.group-event-description {
    font-size: 14px;
    color: #757575;
} */
