body {
    background-color: #FFFFFF;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

/* NavLinks */
.navLink {
    text-decoration: none;
    color: black;
}

/* Buttons */
button.default {
    padding: 10px 20px;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: #F65858;
    color: white;
    border: none;
    border-radius: 10px
}

button.return {
    padding: 10px 20px;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: white;
    color: grey;
    border: 1px #C5C4C4 solid;
    border-radius: 10px
}

button.default:disabled {
    padding: 10px 20px;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: #D9D9D9;
    color: #A4A4A4;
    border: none;
    border-radius: 10px
}

button:hover{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

div.main-div {
    justify-content: center;
}

/* Form Stuff */
input {
    width: 100%;
    height: 55;
    padding: 10px 20px 10px 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

select {
    width: 100%;
    height: 55;
    padding: 10px 20px 10px 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px 20px 10px 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

/* Images */
img.cover {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Text */
p.spacing {
    line-height: 35px;
}

.text20 {
    font-size: 20px;
}

.text14 {
    font-size: 14px;
}

.textcolor-gold {
    color: #877457;
}

.textcolor-bluegreen {
    color: #008294;
}

.textcolor-grey {
    color: #757575;
}

.uppercase {
    text-transform: uppercase;
}

/* Displays */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
}

/* Margin, Borders, and Padding */
.padding20 {
    padding: 20px;
}

/* Event/Group list card  */
.card {
    width: 640px;
    border-top: #D9D9D9 3px solid;
    padding: 5px 0px;
}

/* Card Image Stuff */
div.card-image-container {
    height: 100px;
    width: 178px;
    border-radius: 10px;
}

img.group-image {
    height: 100px;
    width: 178px;
    border-radius: 10px;
    object-fit: cover;
}
