.event-info-body {
    background-color: #f6f7f8;
    border-top: #e5e7e9 solid 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 25px 15px 20px;
}

.event-title-header {
    padding-left: 20px;
}

.event-group-card {
    padding: 15px 25px 15px 25px;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-time-info{
    padding: 15px 25px 15px 25px;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 110px;
    margin: 5px;

}

div.other-info-card {
    margin: 20px;
}

.event-group-image {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin: 10px;
    object-fit: cover;
}

.event-main-image {
    width: 660px;
    height: 370px;
    border-radius: 15px;
}

.event-footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 10px;
    bottom: 0px;
}
