div.GroupsEventsNav {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

div.listNav {
    font-weight: 600;
    color: #008294;
    cursor: pointer;
    border-bottom: 5px;
}

.tab-active {
    border-bottom: #008294 3px solid;
}

.header {
    color: #008294;
}
