img.logo {
    max-width: auto;
    max-height: 50px;
}

div.navigation {
    position: sticky;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 25px;
    background: #fff;
    border-bottom: #E5E7E9 500px;
    border-bottom:  2px solid #E6E6E6;
}
