img.logo {
    max-width: auto;
    max-height: 34px;
}

div.navigation {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 18px;
    background: #fff;
    border-bottom: #E5E7E9 500px;
}
